
<h1>Contact#index</h1>


<form>
  <div class="form-group">
    <label>Full Name</label>
    <input type="text" class="form-control" id="fName" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <labe>Text</label>
    <textarea type="text" class="form-control" id="text" placeholder="Your thing goes here..."></textarea>
  </div>
  <%= recaptcha_tags %>
  <input type="submit" class="btn-btn-danger" name="Submit">

</form>
